body {
    font-family: Arial, sans-serif;
    background-color: #f5e9cf;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.form-container {
    background-color: #2c6b46;
    padding: 50px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.form-container h2 {
    color: white;
    text-align: center;
    margin-bottom: 20px;
}
.form-container input, .form-container textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}
.form-container input[type="submit"] {
    background-color: black;
    color: white;
    cursor: pointer;
}
.form-container input[type="submit"]:hover {
    background-color: #555;
}
